#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-wrapper{
}

h2{
  text-align: center;
}

.inputText{
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

textarea{
  box-sizing: border-box;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px;
  font-size: 0.8rem;
}